{% extends "taslak.html" %} {% block icerik %}
   
   <!-- Galeri tarzında sayfa oluşturmak için card-image kullandım.  -->

    <div class="container">
      <div class="row">
        <div class="col s8 l4">
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" src="/static/image/2.jpg" alt="" />
              <a href="#" class="halfway-fab btn-floating pink pulse">
                <i class="material-icons">favorite</i>
              </a>
            </div>
            <div class="card-content">
              <h4>Porsche</h4>
               <!-- Ürün hakkında bilgi vermek için tablolara yer verdim -->
              <table>
                  <thead>
                    <tr>
                        <th>Yıl</th>
                        <th>2018</th>
                        
                    </tr>
                  </thead>
          
                  <tbody>
                    <tr>
                      <td>Model</td>
                      <td>3.0 Diesel </td>
                     
                    </tr>
                    <tr>
                      <td>Km</td>
                      <td>15.000 </td>
                     
                    </tr>
                    <tr>
                        <td>Yakıt</td>
                        <td>Dizel</td>
                       
                      </tr>
                      <tr>
                          <td>Fiyat</td>
                          <td>153.750 TL</td>
                         
                        </tr>
                  </tbody>
                </table>
                      
            </div>
             <!-- Satın al linki vererek sayfaya yönlendirme yaptım -->
            <div class="card-action center">
                <a href="/porsche">Detaylı İncele</a>
              </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col s8 l4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="/static/image/308.jpg" alt="" />
                <a href="#" class="halfway-fab btn-floating pink pulse">
                  <i class="material-icons">favorite</i>
                </a>
              </div>
              <div class="card-content">
                <h4>Peugeot</h4>
                <table>
                    <thead>
                      <tr>
                          <th>Yıl</th>
                          <th>2017</th>
                          
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>Model</td>
                        <td>1.6 BlueHDi Active  </td>
                       
                      </tr>
                      <tr>
                        <td>Km</td>
                        <td>17.000 </td>
                       
                      </tr>
                      <tr>
                          <td>Yakıt</td>
                          <td>Dizel</td>
                         
                        </tr>
                        <tr>
                            <td>Fiyat</td>
                            <td>89.500 TL</td>
                           
                          </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-action center">
                  <a href="/peugeot">Detaylı İncele</a>
                </div>
            </div>
          </div>
          <div class="col s8 l4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="/static/image/3.jpg" alt="" />
                <a href="#" class="halfway-fab btn-floating pink pulse">
                  <i class="material-icons">favorite</i>
                </a>
              </div>
              <div class="card-content">
                <h4>Opel</h4>
                <table>
                    <thead>
                      <tr>
                          <th>Yıl</th>
                          <th>2019</th>
                          
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>Model</td>
                        <td>1.6 CDTI Elite  </td>
                       
                      </tr>
                      <tr>
                        <td>Km</td>
                        <td>50 </td>
                       
                      </tr>
                      <tr>
                          <td>Yakıt</td>
                          <td>Dizel</td>
                         
                        </tr>
                        <tr>
                            <td>Fiyat</td>
                            <td>209.500 TL</td>
                           
                          </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-action center">
                  <a href="/opel">Detaylı İncele</a>
                </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s9 l4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="/static/image/audi/1.jpg" alt="" />
                <a href="#" class="halfway-fab btn-floating pink pulse">
                  <i class="material-icons">favorite</i>
                </a>
              </div>
              <div class="card-content">
                <h4>Audi</h4>
                <table>
                    <thead>
                      <tr>
                          <th>Yıl</th>
                          <th>2019</th>
                          
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>Model</td>
                        <td>A6 Sedan 2.0 TDI </td>
                       
                      </tr>
                      <tr>
                        <td>Km</td>
                        <td>165.676 km </td>
                       
                      </tr>
                      <tr>
                          <td>Yakıt</td>
                          <td> Dizel</td>
                         
                        </tr>
                        <tr>
                            <td>Fiyat</td>
                            <td> 238.000 TL</td>
                           
                          </tr>
                    </tbody>
                  </table>
              </div>
              <div class="card-action center">
                  <a href="/audi">Detaylı İncele</a>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col s9 l4">
              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src="/static/image/4.jpg" alt="" />
                  <a href="#" class="halfway-fab btn-floating pink pulse">
                    <i class="material-icons">favorite</i>
                  </a>
                </div>
                <div class="card-content">
                  <h4>Mercedes</h4>
                  <table>
                      <thead>
                        <tr>
                            <th>Yıl</th>
                            <th>1965</th>
                            
                        </tr>
                      </thead>
              
                      <tbody>
                        <tr>
                          <td>Model</td>
                          <td> Mercedes - Benz  </td>
                         
                        </tr>
                        <tr>
                          <td>Km</td>
                          <td> 13.641 </td>
                         
                        </tr>
                        <tr>
                            <td>Yakıt</td>
                            <td> Benzin</td>
                           
                          </tr>
                          <tr>
                              <td>Fiyat</td>
                              <td> 140.000 TL</td>
                             
                            </tr>
                      </tbody>
                    </table>
                </div>
                <div class="card-action center">
                    <a href="/mercedes">Detaylı İncele</a>
                  </div>
              </div>
            </div>
            <div class="col s9 l4">
              <div class="card">
                <div class="card-image">
                  <img class="materialboxed" src="/static/image/5.jpg" alt="" />
                  <a href="#" class="halfway-fab btn-floating pink pulse">
                    <i class="material-icons">favorite</i>
                  </a>
                </div>
                <div class="card-content">
                  <h4>BMW</h4>
                  <table>
                      <thead>
                        <tr>
                            <th>Yıl</th>
                            <th>2019</th>
                            
                        </tr>
                      </thead>
              
                      <tbody>
                        <tr>
                          <td>Model</td>
                          <td>520i Executive Plus  </td>
                         
                        </tr>
                        <tr>
                          <td>Km</td>
                          <td> 65.000 </td>
                         
                        </tr>
                        <tr>
                            <td>Yakıt</td>
                            <td>Benzin</td>
                           
                          </tr>
                          <tr>
                              <td>Fiyat</td>
                              <td>240.750 TL</td>
                             
                            </tr>
                      </tbody>
                    </table>
                </div>
                <div class="card-action center">
                    <a href="/bmw">Detaylı İncele</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    {% endblock %}